*, *::after, *::before {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cell {
    background-color: aliceblue;
    border: 1px solid black;
}

.painted {
    background-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}